In [2]:
# ingest the data 
import pandas as pd 
import numpy as np

Introduction About the Data :
The dataset The goal is to predict price of given diamond (Regression Analysis).<br>

There are 10 independent variables (including id):<br>

id : unique identifier of each diamond<br>
carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.<br>
cut : Quality of Diamond Cut<br>
color : Color of Diamond<br>
clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.<br>
.depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)<br>
table : A diamond's table is the facet which can be seen when the stone is viewed face up.<br>
x : Diamond X dimension<br>
y : Diamond Y dimension<br>
x : Diamond Z dimension<br>
Target variable:<br>

price: Price of the given Diamond.<br>
Dataset Source Link : https://www.kaggle.com/competitions/playground-series-s3e8/data?select=train.csv<br>

I have solved EDA step by step<br>

In [3]:
data=pd.read_csv("C:\\Users\\91844\\fsda_End_To_End\\notebooks\\train.csv~\\train.csv")

In [5]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [8]:
data.sample(5)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
84501,84501,0.30,Ideal,F,IF,61.5,57.0,4.28,4.31,2.64,884
137539,137539,1.12,Premium,D,SI2,61.1,58.0,6.69,6.64,4.08,4704
125689,125689,0.41,Ideal,D,SI1,61.9,55.0,4.77,4.79,2.96,943
90151,90151,1.18,Ideal,G,VVS2,62.5,55.0,6.71,6.77,4.21,10913
111257,111257,1.20,Ideal,G,VVS1,62.7,58.0,6.77,6.70,4.21,10933

In [10]:
data.isnull().sum()

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [14]:
data.drop(labels=["id"],axis=1)

        carat        cut color clarity  depth  table     x     y     z  price
0        1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1        2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3        0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4        1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453
...       ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
193568   0.31      Ideal     D    VVS2   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    Premium     G    VVS2   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73  Very Good     F     SI1   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34  Very Good     D     SI1   62.9   55.0  4.45  4.49  2.81    681
193572   0.71       Good     E     SI2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]